<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>Añadir un contacto</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form #form="ngForm" (ngSubmit)="addContact()">
                    <div class="row">
                        <div class="col-md-6 col-12 form-group">
                            <label for="name">Nombre (*)</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="name" 
                                id="name" 
                                placeholder="Escribe un nombre" 
                                minlength="3" 
                                required
                                #name="ngModel"
                                [(ngModel)]="contact.name"
                                [ngClass]="{
                                    'is-valid': name.dirty && !name.errors,
                                    'is-invalid': name.dirty && name.errors
                                }">
                            <div class="valid-feedback">
                                <span>¡Correcto!</span>
                            </div>

                            <div class="invalid-feedback">
                                <span *ngIf="name.errors?.['required']">Valor requerido</span>
                                <span *ngIf="name.errors?.['minlength']">Mínimo {{ name.errors?.['minlength'].requiredLength }} caracteres y llevas {{ name.errors?.['minlength'].actualLength }}</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 form-group">
                            <label for="surname">Apellidos (*)</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="surname" 
                                id="surname" 
                                placeholder="Escribe tus apellidos" 
                                minlength="3" 
                                required
                                #surname="ngModel"
                                [(ngModel)]="contact.surname"
                                [ngClass]="{
                                    'is-valid': surname.dirty && !surname.errors,
                                    'is-invalid': surname.dirty && surname.errors
                                }">
                        </div>
                        <div class="valid-feedback">
                            <span>¡Correcto!</span>
                        </div>

                        <div class="invalid-feedback">
                            <span *ngIf="surname.errors?.['required']">Valor requerido</span>
                            <span *ngIf="surname.errors?.['minlength']">Mínimo {{ surname.errors?.['minlength'].requiredLength }} caracteres y llevas {{ surname.errors?.['minlength'].actualLength }}</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 form-group">
                            <label for="description">Descripción contacto</label>
                            <textarea 
                                name="description" 
                                class="form-control is-valid" 
                                id="description" 
                                maxlength="50" 
                                placeholder="Escribe una descripción del contacto"
                                #desc="ngModel"
                                [(ngModel)]="contact.description"></textarea>
                        </div>

                        <div class="valid-feedback">
                            <span>¡Correcto!</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6 col-12 form-group">
                            <label for="sex">Sexo</label>
                            <select 
                                class="custom-select form-control is-valid" 
                                name="sex" 
                                id="sex"
                                #sex="ngModel"
                                [(ngModel)]="contact.sex">
                                <option value="hombre">Hombre</option>
                                <option value="mujer">Mujer</option>
                            </select>

                            <div class="valid-feedback">
                                <span>¡Correcto!</span>
                            </div>
                        </div>

                        <div class="col-md-6 col-12 form-group">
                            <label for="company">Empresa</label>
                            <input 
                                type="text" 
                                class="form-control is-valid" 
                                name="company" 
                                id="company" 
                                maxlength="20" 
                                placeholder="Escribe el nombre de su empresa"
                                #company="ngModel"
                                [(ngModel)]="contact.company">

                                <div class="valid-feedback">
                                    <span>¡Correcto!</span>
                                </div>
                        </div>
                    </div>

                    <div class="row form-group mt-2">
                        <div class="col-md-6 col-12-form-group">
                            <label for="email">Email (*)</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
                                name="email" 
                                id="email" 
                                placeholder="Escribe tu email" 
                                required
                                #email="ngModel"
                                [(ngModel)]="contact.email"
                                [ngClass]="{
                                    'is-valid': email.dirty && !email.errors,
                                    'is-invalid': email.dirty && email.errors
                                }">

                            <div class="valid-feedback">
                                <span>¡Correcto!</span>
                            </div>

                            <div class="invalid-feedback">
                                <span *ngIf="email.errors?.['required']">Valor requerido</span>
                                <span *ngIf="email.errors?.['pattern']">El formato no es correcto</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-12-form-group">
                            <label for="phone">Teléfono (*)</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                pattern="^(0034|\+34)?(\d\d\d)-? ?(\d\d)-? ?(\d)-? ?(\d)-? ?(\d\d)$" 
                                name="phone" 
                                id="phone" 
                                placeholder="Escribe un teléfono" 
                                required
                                #phone="ngModel"
                                [(ngModel)]="contact.phone"
                                [ngClass]="{
                                    'is-valid': phone.dirty && !phone.errors,
                                    'is-invalid': phone.dirty && phone.errors
                                }">
                            <div class="valid-feedback">
                                <span>¡Correcto!</span>
                            </div>

                            <div class="invalid-feedback">
                                <span *ngIf="phone.errors?.['required']">Valor requerido</span>
                                <span *ngIf="phone.errors?.['pattern']">El formato no es correcto</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <button 
                                type="submit" 
                                [disabled]="form.invalid"
                                class="btn btn-primary btn-block">Añadir contacto</button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
